* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "DM Sans";
    src: url(assets/fonts/static/DMSans-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "DM Sans";
    src: url(assets/fonts/static/DMSans-Medium.ttf) format("truetype");
    font-weight: 500;
}

:root {
  /* Purple */
  --clr-purple-100: hsl(254, 88%, 90%);
  --clr-purple-500: hsl(256, 67%, 59%);

  /* Yellow */
  --clr-yellow-100: hsl(31, 66%, 93%);
  --clr-yellow-500: hsl(39, 100%, 71%);

  /* Neutral */
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 7%);

  /* Typography */
  --ff-body: "DM Sans", sans-serif;
}

html {
    font-size: 18px;
}

/* div {
    border: 1px solid red;
} */

body {
    font-family: var(--ff-body);
    font-weight: 400;
    background-color: #f2f2f2;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 1.5rem;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
        padding: 2rem;
        gap: 2rem;

}

h1{
    font-size: clamp(4.5rem, 5vw, 5rem);
    color: var(--clr-white);
        text-align: center;
        padding: 1rem 0rem;
        line-height: 1;

}

h2 {
    font-size: clamp(2.8rem, 4vw, 2.75rem);
    line-height: 1;
}

p {
    font-size: clamp(2rem, 2vw, 1.125rem);
}

.bigger-text {
    font-size: clamp(4.5rem, 5vw, 5rem);
    color: var(--clr-black);
        text-align: left;
        line-height: 1;

}

.social {
    background-color: var(--clr-purple-500);
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.yellow-text {
    color: var(--clr-yellow-500);
}

.social p{
    color: var(--clr-purple-100);
    padding-bottom: 1rem;
}



.manage {
    background-color: var(--clr-white);
}

.maintain {
    background-color: var(--clr-yellow-500);
    align-items: left;
}

.maintain img{
    width: 60%;
}

.schedule {
    background-color: var(--clr-purple-100);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.schedule h2 {
    margin-top: 1.5rem;
}

.schedule p{
    margin-bottom: 1.5rem;
}

.grow {
    background-color: var(--clr-purple-500);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grow h2{
    padding: 0rem 4rem;
    color: var(--clr-white);
    margin-top: 1rem;
}


.audience{
    background-color: var(--clr-white);
}

.audience img{
    width: 50%;
}

.create{
    background-color: var(--clr-yellow-100);
}

.purple-text{
    color: var(--clr-purple-500);
    font-style: italic;
}

.create img {
    width: 50%;
    margin-bottom: 1rem;
}

.write {
    background-color: var(--clr-yellow-500);
}

.write img{
    width: 60%;
}




