* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "DM Sans";
    src: url(assets/fonts/static/DMSans-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "DM Sans";
    src: url(assets/fonts/static/DMSans-Medium.ttf) format("truetype");
    font-weight: 500;
}

:root {
    /* Purple */
    --clr-purple-100: hsl(254, 88%, 90%);
    --clr-purple-500: hsl(256, 67%, 59%);

    /* Yellow */
    --clr-yellow-100: hsl(31, 66%, 93%);
    --clr-yellow-500: hsl(39, 100%, 71%);

    /* Neutral */
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 7%);

    /* Typography */
    --ff-body: "DM Sans", sans-serif;
}

/* div {
    border: 1px solid red;
} */

body {
    font-family: var(--ff-body);
    font-weight: 400;
    background-color: #f2f2f2;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 1.5rem;

}

.left-column {
    display: grid;
    gap: 1.5rem;
}



.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1.2rem;
    gap: 1.5rem;


}

.heading-large {
    font-size: 3rem;
    color: var(--clr-white);
    text-align: center;
    padding: 1rem 0rem;
    line-height: 1;
    font-weight: 500;

}

.heading-medium {
    font-size: 1.4rem;
    line-height: 1;
}

p {
    font-size: 1.1rem;
}

.bigger-text {
    font-size: 2.7rem;
    color: var(--clr-black);
    text-align: left;
    line-height: 1;

}

.social {
    background-color: var(--clr-purple-500);
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.yellow-text {
    color: var(--clr-yellow-500);
}

.social img {
    width: 50%;
}

.social p {
    color: var(--clr-purple-100);
    padding-bottom: 1rem;
}



.manage {
    background-color: var(--clr-white);
}

.manage img {
    width: 100%;
}

.maintain {
    background-color: var(--clr-yellow-500);
    align-items: left;
}

.maintain img {
    width: 60%;
}

.schedule {
    background-color: var(--clr-purple-100);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.schedule img {
    width: 100%;
}

.schedule p {
    line-height: 1;
    /* font-size: 1rem; */
}

.grow {
    background-color: var(--clr-purple-500);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grow h2 {
    padding: 0rem 2rem;
    color: var(--clr-white);
}

.grow img {
    width: 80%;
}

.audience {
    background-color: var(--clr-white);
}

.audience img {
    width: 50%;
}

.create {
    background-color: var(--clr-yellow-100);
}

.create img {
    width: 50%;
}

.purple-text {
    color: var(--clr-purple-500);
}

.italics {
    font-style: italic;

}

.create img {
    margin-bottom: 1rem;
}

.write {
    background-color: var(--clr-yellow-500);
}

.write img {
    width: 70%;
}

/* Desktop */

@media (min-width: 768px) {

    body {
        display: flex;
        justify-content: center;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1.3fr 1fr 1fr;
        grid-template-areas:
            "left social social schedule"
            "left manage maintain schedule"
            "left audience grow grow";
        max-width: 1000px;
        height: 110vh;
    }

    .card {
        overflow: hidden;
    }

    .left-column {
        grid-area: left;
    }

    .social {
        grid-area: social;
    }

    .manage {
        grid-area: manage;
    }

    .manage img {
        width: 150%;
    }

    .maintain {
        grid-area: maintain;
    }

    .schedule {
        grid-area: schedule;
        text-align: left;
        justify-content: space-around;
    }

    .schedule img {
        width: 250%;
        padding-left: 10rem;
    }

    .audience {
        grid-area: audience;
    }

    .audience img {
        width: 70%;
    }

    .grow {
        grid-area: grow;
        flex-direction: row;
        gap: 0rem;
        text-align: left;
    }

    .grow img {
        width: 40%;
    }


    .heading-medium {
        font-size: 1.8rem;
        font-weight: 500;
        letter-spacing: -0.07em;
        
    }

    .heading-small {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 0.8;
        letter-spacing: -0.07em;

    }

    p{
        font-size: 14px;
    }

    .create {
        padding-top: 4rem;
    }

    .create img {
        width: 80%;
        align-self: center;
    }

    .write {
        justify-content: space-between;
    }

    .write img {
        width: 100%;
    }


}